<!-- views/partials/header.ejs -->
<header id="top-header">
        <a href ='template.ejs'>
            <img class = 'logo' src ='/images/site/logo.png' alt='Logo for PHP motors company'>
        </a>

    <span class="accountLink"><a href="/client/login">My Account</a></span>
    
</header>
