<!-- views/partials/navigation.ejs -->
<nav>
    <%- nav %>
</nav>




<!-- Code Previously before building dynamic JS -->
<!-- <nav id = 'navUl'>
    <ul>
        <li class="navBar"><a href="http://">Home</a></li>
        <li class="navBar"><a href="http://">Classic</a></li>
        <li class="navBar"><a href="http://">Sports</a></li>
        <li class="navBar"><a href="http://">SUV</a></li>
        <li class="navBar"><a href="http://">Trucks</a></li>
        <li class="navBar"><a href="http://">Used</a></li>
    </ul>
</nav> -->
