
    <div class="bodyContent"> 
        <div><img src="../images/vehicles/delorean.jpg" class = "bannerImage" alt="Drawn image of a DMC delorean"></div>
    
        <div class = 'bannerText'>
            <h1>Welcome to CSE Motors!</h1>
            <h2>DMC Delorean</h2>
            <h4>3 Cup holders </h4> 
            <h4>Superman Doors </h4>
            <h4>Fuzzy Dice!</h4>
            
        </div>
        <button><a href="">Own Today:</a></button>
    
        <div class="mainContent">
    
            <div class="upgrades">
                <h4 id = "upgradeBanner" class = 'contentBanners'>Delorean Upgrades</h4>
    
                
                <div id="upgradeImgOne">
                    <img src="../images/upgrades/flux-cap.png" alt="Flux capacitor from Back to the Future">
                </div>
    
                <div id="upgradeImgTwo">
                    <img src="../images/upgrades/flame.jpg" alt="Flame decal">
                </div>
    
                <div id="upgradeImgThree">
                    <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper sticker on a car that says Hello World">
                </div>
    
                <div id="upgradeImgFour">
                    <img src="../images/upgrades/hub-cap.jpg" alt="Hub cap on a car">
                </div>
                    
            </div>
    
            <div class="reviews">
            <h4 class = 'contentBanners'>Delorean Reviews</h4>
    
            <ul>
                <li>'So fast it's almost like traveling in time. (4/5)</li>
                <li>'Coolest ride on the road.' (4/5)</li>
                <li>'I'm feeling Marty McFly!' (4.5/5)</li>
                <li>'The most futuristic ride of our day.' (4.5/5)</li>
                <li>'80's livin and I love it!' (5/5)</li>
            </ul>
            </div>
        </div>
    
    </div>

