<!-- Content Heading for classification view -->
<% if (title) { %>
    <h1 id="title"><%= title %></h1>
    <% } else {
      res.redirect('')
    } %>
    

<!-- Message block for notices and error handling -->
<% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>

<div class="management-text">
    <h1>Vehicle Management</h1>
    <span><a href="/inv/add-class">Add New Classification</a></span>
    <span><a href="/inv/add-vehicle">Add New Vehicle</a></span>
</div>