<% if (title) { %>
    <h1 class="title" ><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
    
<% if (message) { %>
    <p class="notice"><%= message %></p>
<% } %>

<div class="login-table">
    <form action="#" method="post" class="login-form">
        <label for="client_username">Username</label>
        <input type="text" name="client_username" id="client_username" autofocus>
        <label for="client_password">Password</label>
        <input type="password" name="client_password" id="client_password">
        <input type="submit" value="Login" class="submit">
        <span><div>Don't have an account?<a href="/client/register" class="register-button"> Sign up here:</a></div></span>
    </form>
</div>